@model IEnumerable<MP_OnlineStore.DAL.Entities.Category>

@{
    ViewData["Title"] = "Categories";
}

<header>
    <h1>
        Categories
    </h1>
</header>

<section class="tiles">
    @foreach (var item in Model)
    {
        <article class="style2">
            <span class="image">
                <img src="~/images/pic01.jpg" alt="" />
            </span>
            <a asp-controller="Products" asp-action="ProductsList" asp-route-categoryId = "@item.CategoryId">
                <h2>@item.CategoryName</h2>
                <div class="content">
                    <p>@item.Description</p>
                </div>
            </a>
        </article>
    }
</section>
