<!-- Header -->
<header id="header">
    <div class="inner">

        <!-- Logo -->
        <a asp-controller="Home" asp-action="Index" class="logo">
            <span class="symbol"><img src="~/images/logo.svg" alt="" /></span><span class="title">Northwind</span>
        </a>

        <!-- Nav -->
        <nav>
            <ul>
                <li><a id="#menu">Menu</a></li>
            </ul>
        </nav>

    </div>
</header>