<!DOCTYPE HTML>
<html>
<head>
    @await Html.PartialAsync("_MetaTagsPartial")
    @await Html.PartialAsync("_CssPartial")
</head>
<body class="is-preload">
    <!-- Wrapper -->
<div id="wrapper">

@await Html.PartialAsync("_HeaderPartial")

@await Html.PartialAsync("_MenuBarPartial")

<!-- Main -->
<div id="main">
    <div class="inner">
        @RenderBody()
    </div>
</div>

@await Html.PartialAsync("_FooterPartial")

</div>
@Html.Partial("_ScriptsPartial")
</body>
</html>