<!-- Menu -->
<nav id="menu">
    <h2>Menu</h2>
    <ul>
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-controller="Categories" asp-action="AllCategories">Categories</a></li>
        </ul>
</nav>